* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(251, 197, 49);
}

ul, li, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

.result-container {
  max-width: 600px;
  min-height: 85px;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #FFFFFF;
  color: rgb(72, 126, 176);
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  /* text-align: center; */
  /* word-break: break-all; */
  /* letter-spacing: 1px; */
}

.result-container--info .result-box {
  width: 150px;
  padding: 5px 20px;
  margin: 0 0 0 auto;
  border-color: transparent;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.button-container .button,
.button-container .result-box {
  /* margin-right: 10px; */
}

.button-container .button:last-of-type {
  /* margin-right: 0; */
}

.button {
  /* display: inline-block; */
  /* width: fit-content; */
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #FFFFFF;
  color: rgb(72, 126, 176);
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.button:disabled {
  cursor: auto;
  opacity: .5;
}

.input-text {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #FFFFFF;
  color: rgb(72, 126, 176);
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  outline: none;
}

.label-checkbox {
  font-size: 15px;
  line-height: 20px;
  color: rgb(72, 126, 176);
  cursor: pointer;
}

.label-checkbox input {
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.result-box {
  /* display: inline-block; */
  /* width: fit-content; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(72, 126, 176);
  background: #FFFFFF;
  color: rgb(72, 126, 176);
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
  /* cursor: pointer; */
}

.result-box:last-of-type {
  margin-bottom: 0;
  /* border-bottom-color: transparent; */
}

.result-box h2 {
  letter-spacing: 1px;
}

.result-box p {
  text-transform: capitalize;
  font-weight: 300;
  /* padding-bottom: 5px; */
}

.result-box__selected {
  border-bottom: 1px solid rgb(72, 126, 176);
  background: rgb(72, 126, 176);
  color: #FFFFFF;
}

.transparent {
  opacity: .5;
}

.title-container {
  font-size: 35px;
  font-weight: 800;
  line-height: 40px;
  color: rgb(72, 126, 176);
}

.wrong-validation {
  width: fit-content;
  padding: 5px 10px;
  background: red;
  border-radius: 5px;
  color:#FFFFFF;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: .5px;
}